* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  color: black;
  background-color: #C6E377;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background-color: #bf1722;
  color: white;
  padding: 8px;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}

/* 
 header
 */
.header {
  min-height: 56px;
  -webkit-transition: min-height 0.3s;
  transition: min-height 0.3s;
  background-color: #729D39;
}

.header__inner {
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.header__title {
  font-weight: 300;
  font-size: 3em;
  margin: 0.5em 0.25em;
  display: inline-block;
  color: white;
  font-weight: 500;
}

.header__menu {
  font-size: 32px;
  display: block;
  min-width: 44px;
  min-height: 44px;
  border: none;
  text-decoration: none;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
  color: white;
}

button#menu {
  text-decoration: none;
}

/*
navigasi 
*/
.nav {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.nav__list {
  width: 100%;
  padding: 0;
  margin: 0;
}

.nav__item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  width: 24%;
  text-align: center;
  line-height: 24px;
  text-transform: uppercase;
}

.nav a {
  display: inline-block;
  padding: 1.3em;
  text-decoration: none;
  color: white;
  min-width: 44px;
  min-height: 44px;
}

.nav a:hover, .nav a:focus {
  text-decoration: underline;
  color: #4E944F;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 250px;
  width: 100%;
  height: 50%;
  text-align: center;
  background-image: url("../public/images/heros/hero-image_2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.hero__inner {
  margin: 0 auto;
  max-width: 800px;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px;
}

.hero__title {
  color: #fff;
  font-weight: 400;
  font-size: 30px;
}

main {
  width: 100%;
  margin: 0 auto;
}

.content {
  padding: 32px;
}

#restaurant-label {
  text-align: center;
  font-size: 35px;
}

/*
 * restaurant
 */
#explore-restaurant-list {
  margin: 32px auto auto;
  text-align: left;
  display: -ms-grid;
  display: grid;
}

.restaurant-item {
  overflow: hidden;
  margin: 10px;
  background-color: #E9EFC0;
  border-radius: 8px;
  -webkit-box-shadow: rgba(10, 20, 30, 0.26) 0px 1px 20px;
          box-shadow: rgba(10, 20, 30, 0.26) 0px 1px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.restaurant-item img {
  width: 100%;
  height: 200px;
}

.restaurant-item h2 {
  padding: 10px;
}

.restaurant-item a {
  color: black;
  text-decoration: none;
}

.city {
  margin-top: 5px;
  font-weight: 400;
  padding-left: 10px;
  font-weight: 600;
}

.rating {
  margin-top: 5px;
  font-weight: 300;
  padding-left: 10px;
  font-weight: 500;
}

.desc {
  margin-top: 10px;
  display: block;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 3.6em;
  line-height: 1.8em;
  text-align: justify;
  padding-right: 10px;
  padding-left: 10px;
}

/*
favorite
*/
.explore-restaurant__label {
  font-size: 30px;
  font-weight: 400;
  text-align: center;
}

.explore-restaurant__label:after {
  content: '';
  margin-top: 16px;
  display: block;
}

.restaurant-item__not__found {
  text-align: center;
  font-size: 30px;
}

#explore-restaurant-list {
  display: -ms-grid;
  display: grid;
  grid-row-gap: 1.5em;
  padding-top: 1.5em;
}

.card {
  background-color: #E9EFC0;
  border-radius: 8px;
  -webkit-box-shadow: rgba(10, 20, 30, 0.26) 0px 1px 20px;
          box-shadow: rgba(10, 20, 30, 0.26) 0px 1px 20px;
  margin-bottom: 20px;
  overflow: hidden;
  padding-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.restaurant {
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 18px 16px;
}

.restaurant__name {
  margin-top: 15px;
  text-align: left;
  text-decoration: underline;
}

.restaurant__image {
  width: 100%;
  max-width: 400px;
  border-radius: 8px;
  margin: 20px;
}

.restaurant__detail {
  margin-left: auto;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  padding-right: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.restaurant__detail p {
  text-align: justify;
  margin-bottom: 20px;
}

.restaurant__detail h3 {
  padding-top: 20px;
}

.restaurant__detail h4 {
  margin: 8px 0;
}

.menu {
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  padding: 10px;
}

.restaurant__overall {
  text-align: justify;
  padding: 10px;
  width: calc(30% - 40px);
  display: inline-block;
  margin-right: 30px;
}

.restaurant__menus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 200px;
}

.restaurant__menus ul {
  padding: 10px;
}

.restaurant__desc__review {
  margin-top: 15px;
  width: 100%;
  padding: 5px;
  border: 3px solid black;
}

.name-review {
  font-weight: bold;
}

.detail-review-item {
  margin-top: 15px;
  width: 100%;
  padding: 5px;
  border: 3px solid black;
  font-size: 12px;
}

.review__overall {
  max-width: 100%;
  font-size: 1em;
  text-align: left;
}

.restaurant__review h3 {
  text-align: center;
  font-size: 30px;
  font-weight: 400;
}

/* FORM */
.main {
  padding: 20px;
}

.explore-restaurant__label {
  text-align: center;
  font-size: 40px;
}

.form-review {
  margin-top: 30px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.form-label {
  font-weight: bold;
  color: #333;
}

.form-control {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  color: #555;
}

.btn {
  display: inline-block;
  background-color: #4CAF50;
  color: white;
  padding: 8px 16px;
  font-size: 16px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.btn:hover {
  background-color: #3e8e41;
}

.like {
  width: 55px;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #db0000;
  position: fixed;
  bottom: 16px;
  right: 16px;
  border-radius: 50%;
  border: 0;
  font-size: 18px;
  color: white;
  cursor: pointer;
}

/*
 * footer
 */
footer {
  background-color: #36622B;
  padding: 2em;
  width: 100%;
}

footer p {
  text-align: center;
  color: white;
  font-size: 16px;
  font-weight: 500;
}
/*# sourceMappingURL=main.css.map */